
.navbar {
  z-index: 3;
  width: 100%;
  display: flex;
  height: 75px;
  align-items: center;
  padding: 1rem;
  background-color: #002366;
  color: white;
  justify-content: space-between;
  padding-left: 12px;
  position: fixed;
  top:0;
}
.nav_head
{
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(213, 213, 213);
    margin-left: 10px;
    margin-top: -5px;
}
.regis_image
{
    opacity: 0.9;
    margin-right: 3px;
    margin-left: -6px;
}
.register-product-btn
{
  background-color: #002366;
  border: solid 1px white;
  position: relative;
  top: 9px;
  margin-right: 5px;
  color: white;
}
.register-product-btn:hover
{
  background-color: #001b4e;
}
@media (max-width: 700px) {
  .product-container {
      margin-left: 15px;
  }
  .nav_head
  {
      font-size: 1.1rem;
      font-weight: 500;
      color: rgb(213, 213, 213);
      margin-left: 10px;
      margin-top: -5px;
  }
  .register-product-btn
  {
    font-size: 0.85rem;
    margin-right: -7px;
  }
  .nav_head
  {
      margin-left: 0px;
      font-size: 1rem;
      margin-right: 10px;
  }
}