.product-container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: 45px;
}
.product-card {
    width: 93%;
    min-height: 245px;
    margin: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 7px;
    border:solid 1px rgb(209, 209, 209);
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 0.2s ease;
}
.product-shipment
{
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(81, 81, 81);
}
.product-warranty
{
    color: rgb(81, 81, 81);
}
.product-card:hover {
    z-index: 1;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0), 0 2px 4px rgba(0, 0, 0, 0.08);
    background-color: #ebebeb;
}

.product-image {
    width: 100%;
}

.product-heading {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.6rem;
    color: #8f8f8f;
}
.product-brand {
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 3px;
    color: #545454;
    margin-bottom: 15px;
}
.product-desc {
    margin-top: 0.25rem;
    color: #9d9d9d;
    font-size: 0.97rem;
    font-weight: 500;
}

.product-price {
    font-size: 1.4rem;
    /* font-weight: bold; */
    margin-top: 0.25rem;
    color: #c98c1d;
    margin-bottom: 15px;
    font-weight: 500;
}
.product-brand, .product-desc, .product-heading, .product-shipment, .product-warranty, .product-price
{
    margin-left: 13px;
}
@media (max-width: 700px) {
    .product-container {
        margin-left: 15px;
        margin-right: 31px;
    }
  }